body {
    background-color: rgb(81, 78, 78);
}

.formulario {
    color: white;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}

.cajaTexto {
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.boton {
    margin: 5px;
    padding: 5px;
}

.contentErrores {
    background-color: brown;
    color: white;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
}

.contentPlaca {
    background-color: rgb(5, 73, 5);
    color: white;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
}

.resultado {
    background-color: white;
    color: black;
    margin-left: 30%;
    margin-right: 30%;
}
.contentBotones{
    display: inline-flex;
}